.AddData {
    width: 60rem;
    height: 30rem;
    margin: 0 auto;
    position: relative;
   & input {
    border-radius: 100px;
    font-family: inherit;
    font-size: inherit;
    color: #9E9E9E;
    padding: 1rem 3.9rem;
    outline: none;
    border: none;
    margin: 1rem;
    display: inline;
   } 
}

.send-form {
    display: block;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     text-transform: uppercase;
     text-decoration: none;
     padding: 1.5rem 4rem;
     border-radius: 10rem;
     transition: all 0.2s;
     border: none;
     font-weight: 700;
     font-size: 1.6rem;
     color: #fff;
     transition: all, .3s;
     box-shadow: 0 1rem 2rem rgba(black, 0.2); 
     background-image: linear-gradient(to right, rgb(60, 163, 162), rgb(38, 211, 56));
     &:hover {
      background-image: linear-gradient(to right, rgb(52, 163, 121), rgb(24, 130, 34));
      
    }
    &:active {
      transform: translate(-50%, 0.3rem);
    }
 }