.header {
    margin: 3rem;
    width: 90%;

    &__title {
        text-transform: uppercase;
        color: inherit;
        display: inline-block;
    }

    & button {
        display: inline;
    }
}

.get-data {
    margin-left: 1.5rem; 
     position: absolute;
     text-transform: uppercase;
     text-decoration: none;
     padding: 1.5rem 4rem;
     border-radius: 10rem;
     transition: all 0.2s;
     border: none;
     font-weight: 700;
     font-size: 1.6rem;
     color: #fff;
     transition: all, .3s;
     background-image: linear-gradient(to right, rgb(60, 163, 162), rgb(38, 211, 56));
     box-shadow: 0 1rem 2rem rgba(black, 0.2); 
     &:hover {
        background-image: linear-gradient(to right, rgb(52, 163, 121), rgb(24, 130, 34));
    }
    &:active {
      transform: translateY(0.3rem);
    }
 }