.tbl {
  &__primary {
    table-layout: fixed;
    position: relative;
    width: 100%;
    & th {
      padding: 0.5rem 1.5rem;
      text-align: left;
      font-weight: 500;
      font-size: 1.2rem;
      color: #fff;
      text-transform: uppercase;
    }
    & td {
      padding: 1.5rem;
      text-align: left;
      vertical-align: middle;
      font-weight: 300;
      font-size: 1.2rem;
      color: #fff;
      border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }
  }

  &__header {
    background-color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    padding: 1.5rem;
  }
  &__content_primary {
    height: 40rem;
    overflow: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    margin-bottom: 3rem;
  }
}

.addField {
  background-image: linear-gradient(
    to right,
    rgb(60, 163, 162),
    rgb(38, 211, 56)
  );
  border-radius: 100px;
  color: #fff;
  width: 6rem;
  height: 6rem;
  float: right;
  border: none;
  outline: none;
  font-size: 4rem;
  font-weight: 100;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  margin: -4.3rem;
  &:hover {
    background-image: linear-gradient(
      to right,
      rgb(52, 163, 121),
      rgb(24, 130, 34)
    );
  }
  &:active {
    transform: translateY(0.3rem);
  }
  & img {
    width: 3rem;
    height: 3rem;
  }
}

.fas {
  margin-left: 0.5rem;
  &:hover {
    color: rgba(255, 255, 255, 0.3);
  }
}
